html .header{
    padding-left: 4em;
    padding-right: 6em;
}

html .borde-header{
    border-bottom: 1px solid #bdbdbd;
}
.alto-header{
    height: 90px;
}

html .bg-black{
    background-color: #444343 !important;
}

html a{
    text-decoration: none;
    color: #075473;
}

html .link-secondary{
    color: black;
}

html .link-secondary:hover {
    color: #e07e33;
}

.enlace-nav{
    font-size: 21px;
}

html .fondo{
    padding: 0;
    margin: 0;
    width: 100%;
    background-image: url('../img/home_form.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

html .capa{
    padding: 5em 4em;
    margin: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
}

html .contenedor-texto{
    margin: auto 0;
}
.text-home{
    color: #ffffff !important;
    width: 100%;
}

html .titulo-home{
    font-size: 50px;
    font-weight: 600;
}

html .parrafo-home{
    font-size: 25px;
}

html .card{
    width: 60%;   
    margin: 0 auto; 
}

html .pie-pagina{
    padding: 1em 7em 1em 4em !important;
}

html .persona{
    width: 60%;
}

html .accordion{
    display: flex;
}

html .bd-placeholder-img{
    background-image: url(../img/product.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}

html .text-persona{
    color: #075473;
}

html .title-persona, html p-persona{
    color: #0D0D0D;
}

html .px-6{
    padding: 0 6rem;
}

.alto-header-admin{
    height: 150px;
}

html .boton-borde{
    border-radius: 0 !important;
}

html .nav-link, html .nav-link:hover{
    color: #F25116;
}

html .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #F25116 !important;
}

html .btn-primary{
    background-color: #075473;
    border-color: #075473;
}

html .btn-primary:hover{
    color: #075473;
    background-color: #ffffff;
    border-color: #075473;
}

html .tabla-rev tbody tr:hover{
    cursor: pointer;
}

html .page-link{
    color: #075473;
    border-color: #075473;
}

html .page-item.active .page-link{
    background-color: #075473;
    border-color: #075473;
}

html .color-hint{
    color: #075473;
}

html .altura-prueba{
    padding: 59.5px 60px !important;
}